<ion-header>
  <ion-toolbar>
    <ion-title>
      Big Dan's bootleg QR code scanner    
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="background: none transparent;">

<ion-card>
  <ion-card-header>
    <ion-card-title>
      Welcome to Big Dan's Bootleg™ QR code scanner
    </ion-card-title>
  </ion-card-header>

  <ion-card-content>
    This is merely a sample text that showcases how the ion card content works
  </ion-card-content>

  <ion-item>
    <ion-icon name="pin" slot="start"></ion-icon>
    <ion-label>Press button to scan</ion-label>
    <ion-button color="tertiary" slot="end" (click)="scanQRCode()">Scan</ion-button>
  </ion-item>
</ion-card>
</ion-content>
