<ion-header>
  <ion-toolbar>
    <ion-title>
      Big Dan's bootleg scoreboard application part 2: Electric Boogaloo
    </ion-title>
  </ion-toolbar>
</ion-header>




<ion-content class="ion-text-center">
  <ion-grid>
    <!-- one ion-row for each player (?) -->
    <ion-row *ngFor = "let player of playersList | keyvalue">
      <!-- Score decrement button column-->
      <ion-col size=2>
          <ion-button (click) = "decrementScore(player.value)">[-]</ion-button>
      </ion-col>
      <!-- Player name column -->
      <ion-col size=4>
        <h4>{{player.value.username}}</h4>
      </ion-col>
      <!-- Player score column -->
      <ion-col size=2>
        <h4>{{player.value.currentScore}}</h4>
      </ion-col>
      <!-- Score increment amount column (TODO) -->
      <ion-col size = 2>
        <ion-input type="number" value="1" [(ngModel)]="scoreIncrement" > </ion-input>
      </ion-col>
      <!-- Score increment button column-->
      <ion-col size=2>
        <ion-button (click) = "incrementScore(player.value)">[+]</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
      <ion-fab-button (click)="addNewPlayer()" expand="block">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>

</ion-content>
