<ion-header>
  <ion-toolbar>
    <ion-title>
      MEDPLAT™ medical platform by BDB Solutions
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Medication list</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="1"> Medication ID </ion-col>
          <ion-col size="4"> Medication Name </ion-col>
          <ion-col> Side effects </ion-col>
          <ion-col> Update medication information </ion-col>
          <ion-col> Delete medication </ion-col>
        </ion-row>
      </ion-grid>
      <ion-list>
        <ion-item *ngFor="let med of medsList; let i = index">
          <ion-grid>
            <ion-row>
              <ion-col size="1">{{med.mid}}</ion-col>
              <ion-col size="4">
                <ion-input value="{{med.name}}"></ion-input>
              </ion-col>
              <ion-col>
                <ion-input value="{{med.side_effects}}"></ion-input>
              </ion-col>
             
              <ion-col>
                <ion-button color="tertiary" size="medium" (click)="updateMedicationCardInitializer(med)">
                  <ion-icon name="create"></ion-icon>
                </ion-button>
              </ion-col>
              <ion-col>
                <ion-button color="danger" size="medium" (click)="deleteMedication(med)">
                  <ion-icon name="trash"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Add new Medication</ion-card-title>
      <ion-card-subtitle>Insert new medication data then click the "SUBMIT" button at the bottom of the page
      </ion-card-subtitle>
    </ion-card-header>

    <ion-item>
      <ion-input placeholder="Name" [(ngModel)]="nameInput"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Side Effects" [(ngModel)]="side_effectsInput"></ion-input>
    </ion-item>
    <ion-item>
      <ion-button color="dark" size="medium" (click)="addMedication()">SUBMIT</ion-button>
    </ion-item>
  </ion-card>


  <ion-card id="updateMedCard">
    <ion-card-header>
      <ion-card-title>Update medication</ion-card-title>
      <ion-card-subtitle>Insert new patient data then click the "submit" button at the bottom of the page
      </ion-card-subtitle>
    </ion-card-header>

    <ion-item>
      <ion-label>Medication name - </ion-label>
      <ion-input placeholder="Name" [(ngModel)]="uName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Side effects - </ion-label>
      <ion-input placeholder="Side effects" [(ngModel)]="uSide_effects"></ion-input>
    </ion-item>
    <ion-item>
      <ion-button color="dark" size="medium" (click)="updateMedication()">SUBMIT</ion-button>
    </ion-item>
  </ion-card>
</ion-content>