
.tab-bar-bot {
      display: flex;
      overflow-x: hidden;
      .tab-item {
            display: inline-block !important;
            min-width: 100px !important;
            width: auto !important;
      }
}