<ion-header>
  <ion-toolbar>
    <ion-title>
      MEDPLAT™ medical platform by BDB Solutions
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
    
  <ion-card>
    <ion-card-header>
      <ion-card-title>Patient list</ion-card-title>
      <ion-card-subtitle>
        <ion-button color="tertiary" size="medium" (click)="updateUsersList()">
          <ion-icon name="refresh"></ion-icon>
        </ion-button>
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="1"> User ID </ion-col>
          <ion-col size="4"> Full name </ion-col>
          <ion-col> Birthdate </ion-col>
          <ion-col> Address </ion-col>
          <ion-col> User Role </ion-col>
          <ion-col> Update user information </ion-col>
          <ion-col> Delete user </ion-col>
        </ion-row>
      </ion-grid>
      <ion-list>
        <ion-item *ngFor="let user of usersList; let i = index">
          <ion-grid>
            <ion-row>
              <ion-col size="1">{{user.uid}}</ion-col>
              <ion-col size="4"><ion-input value="{{user.name}}"></ion-input></ion-col>
              <ion-col><ion-input value="{{user.birthdate}}"></ion-input></ion-col>
              <ion-col><ion-input value="{{user.address}}"></ion-input></ion-col>
              <ion-col><ion-input value="{{user.role}}"></ion-input></ion-col>
              <ion-col>
                <ion-button color="tertiary" size="medium" (click)="updateUserCardInitializer(user)">
                  <ion-icon name="create"></ion-icon>
                </ion-button>
              </ion-col>
              <ion-col>
                <ion-button color="danger" size="medium" (click)="deleteUser(user)">
                  <ion-icon name="trash"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>  
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Add new user</ion-card-title>
      <ion-card-subtitle>Insert new patient data then click the "SUBMIT" button at the bottom of the page</ion-card-subtitle>
    </ion-card-header>

    <ion-item>
      <ion-input placeholder="Name" [(ngModel)]="nameInput"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Username" [(ngModel)]="userameInputForm"></ion-input>
    </ion-item>
    <ion-item>
      <ion-select placeholder="Select user role" [(ngModel)]="roleInput">
        <ion-select-option value="CAREGIVER">Caregiver</ion-select-option>
        <ion-select-option value="DOCTOR">Doctor</ion-select-option>
        <ion-select-option value="PATIENT">Patient</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Birthdate" [(ngModel)]="birthdateInput"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="address" [(ngModel)]="addressInput"></ion-input>
    </ion-item>
    <ion-item>
      <ion-select placeholder="Gender" [(ngModel)]="genderInput">
        <ion-select-option value="MALE">Male</ion-select-option>
        <ion-select-option value="FEMALE">Female</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-button color="dark" size="medium" (click)="addUser()">SUBMIT</ion-button>
    </ion-item>
  </ion-card>


  <ion-card id="updateUserCard" *ngIf="displayUpdateForm">
    <ion-card-header>
      <ion-card-title>Update user</ion-card-title>
      <ion-card-subtitle>Insert new patient data then click the "submit" button at the bottom of the page</ion-card-subtitle>
    </ion-card-header>
  
    <ion-item>
      <ion-label>Full name -    </ion-label>
      <ion-input placeholder="Name" [(ngModel)]="uName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Username -    </ion-label>
      <ion-input placeholder="Username" [(ngModel)]="uUsername"></ion-input>
    </ion-item>
    <ion-item>
      <ion-select placeholder="Select user role" [(ngModel)]="uRole">
        <ion-select-option value="CAREGIVER">Caregiver</ion-select-option>
        <ion-select-option value="DOCTOR">Doctor</ion-select-option>
        <ion-select-option value="PATIENT">Patient</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Birthdate -    </ion-label>
      <ion-input placeholder="Birthdate" [(ngModel)]="uBirthdate"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Address -    </ion-label>
      <ion-input placeholder="Address" [(ngModel)]="uAddress"></ion-input>
    </ion-item>
    <ion-item>
      <ion-select placeholder="Gender" [(ngModel)]="uGender">
        <ion-select-option value="MALE">Male</ion-select-option>
        <ion-select-option value="FEMALE">Female</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-button color="dark" size="medium" (click)="updateUser()">SUBMIT</ion-button>
    </ion-item>
  </ion-card>
</ion-content>
